@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Bricolage Grotesque", serif;
  background-color: #121b22;
}

.nav {
  font-family: 'Brigends Expanded', sans-serif;
}

::selection {
  color: white;
  background: #6e4bff;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c1ed14;
}

.canvas-container {
  width: 100%;
  height: 500px;
  /* Set a fixed height for the canvas */
  background-color: #f0f0f0;
  /* Set the desired background color */
}